/* AddEdit styles */
.form-body{
    margin: auto;
    padding: 15px;
    max-width: 400px;
    align-content: center;
}
.lower{
    text-transform: lowercase;
}

/* Home page styles */
.table-style{
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .table-style{
        width: 100%;
    }
    
}

/* SearchPage style */

.btn_back{
    display: flex;
    justify-content: center;
    align-items: center;
}